
@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1000px) 
{
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header, main, footer {
        width: 50%;
        border: 1px solid rgba(0, 0, 0, 0.186);
    }
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 20px;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-bottom: none;
}

ul {
    list-style-type: none;
    gap: 5px;
}

li {
    text-align: center;
}

h1, h3 {
    font-weight: normal;
    font-size: 1.15em;
    text-align: center;
}

h3 {
    text-align: start;
}

.box-orelha {
    align-items: end;
    margin-bottom: 60px;
}

p#orelha {
    width: 50%;
    text-align: justify;
}

/* MAIN */

main {
    padding: 20px;
    border-bottom: none;
    border-top: none;
}

.box-questao {
    justify-content: center;
    align-items: start;
    padding: 30px 20px;
    height: auto;
    gap: 20px;
}

input {
    font-size: 1.1em;
    width: 60%;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 10px; 
    background-color: rgba(128, 128, 128, 0.353);
}

.botton {
    background-color: green;
    color: white;
}

.input {
   padding: 10px;
}

.box-resposta {
    background-color: rgba(128, 128, 128, 0.353);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: auto;
    text-align: center;
}

/* box de relatorio */

.box-relatorio, .box-conteudo {
    background-color: rgba(128, 128, 128, 0.353);
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    width: 80vw;
}

@media screen and (min-width: 1000px) 
{
    .box-relatorio, .box-conteudo {
        max-width: 100%;
    }
}

.box-conteudo {
    background-color: transparent;
    margin-top: 20px;
    gap: 15px;
    text-align: justify;
}

ul.lista {
    gap: 35px;
}

.lista > li {
    gap: 15px;
}

.invisible {
    display: none;
    transition: all .5s;
}

p {
    line-height: 1.5em;
    font-size: 1.075em;
    text-align: justify;
}

footer {
    border-top: none;
    padding: 0 40px 40px 40px;
    gap: 30px;
}

.box-intro {
    margin-top: 20px;
    padding: 20px;
    gap: 20px;
}